<br><br><br>
<div class="card flex justify-content-center">

    <p-card header="esta es una Informacion chevere" [style]="{'width': '25rem', 'margin-bottom': '2em'}">
        <ng-template pTemplate="header">
            <img alt="Card" src="assets/showcase/images/usercard.png">
        </ng-template>
        <p>"Todo es divertido, siempre y cuando le ocurra a otra persona"</p>
        <p>"Las mejores cosas de la vida te deshacen el pelo"</p>
        <p>"No soy vago, estoy en modo ahorro de energía"</p>
        <p>"Lo malo no es vivir en las nubes, sino bajar"</p>
        <ng-template pTemplate="footer">
            <p-button label="Empezar" icon="pi pi-check" (click)="goCNN()"></p-button>
        </ng-template>
    </p-card>
</div>