
<br>


<p-card>
    <ng-template pTemplate="header">
        Proyectos Cheveres
    </ng-template>
    <div class="p-fluid ">
        <form [formGroup]="formProject" (ngSubmit)="onSubmit(formProject.value) ">
            <div class="formgrid grid">
                <div class="p-field lx:col-6 lg:col-6 md:col-4 sm:col-12">
                    <label for="id">ID:</label>
                    <input pInputText type="text" id="id" formControlName="id">
                </div>
                <div class="p-field lx:col-6 lg:col-6 md:col-4 sm:col-12">
                    <label for="code">Code:</label>
                    <input pInputText type="text" id="code" formControlName="code">
                    <div *ngIf="codeField.invalid && (codeField.touched || codeField.dirty)">
                        <small *ngIf="codeField.errors?.required" class="p-error">
                            EL campo es requerido
                        </small>
                        <small *ngIf="codeField.errors?.maxlength" class="p-error">
                            Maximo de caracteres es 5
                        </small>
                        <small *ngIf="codeField.errors?.minlength" class="p-error">
                            Minimo de caracteres es 3
                        </small>
                    </div>
                </div>
            </div>
            <div class="formgrid grid">

                <div class="p-field lx:col-2 lg:col-2 md:col-6 sm:col-12">
                    <label for="date">Date:</label>
                    <p-calendar  id="date" formControlName="date" dateFormat="yy-mm-dd"></p-calendar>
                    <div *ngIf="descriptionField.invalid && (descriptionField.touched || descriptionField.dirty)">
                        <small *ngIf="descriptionField.errors?.required" class="p-error">
                            EL campo es requerido
                        </small>
                    </div>
                </div>
                <div class="p-field lx:col-10 lg:col-10 md:col-6 sm:col-12">
                    <label for="description">description:</label>
                    <input pInputText type="text" id="description" formControlName="description">
                    <div *ngIf="descriptionField.invalid && (descriptionField.touched || descriptionField.dirty)">
                        <small *ngIf="descriptionField.errors?.required" class="p-error">
                            EL campo es requerido
                        </small>
                    </div>
                </div>

             
            </div>
            <div class="p-field lx:col-4  lg:col-4 md:col-6 sm:col-12">
                <button pButton type="submit" label="Guardar" icon="pi pi-save"
                    (click)="onSubmit(formProject.value)">
                </button>
            </div>

        </form>
    </div>


</p-card>




<br>

<h1>Projects</h1>

<table>
    <tr>
        <th>
            id
        </th>
        <th>
            title
        </th>
    </tr>
    <tr *ngFor="let project of projects ">
        <td>
            {{project.id}}
        </td>
        <td>
            {{project.code}}
        </td>
        <td>
            <button pButton type="button" label="Mostrar" (click)="selectProject(project)"></button>
            <button pButton type="button" label="eliminar" class="p-button-danger"
                (click)="deleteProject(project)"></button>
        </td>
    </tr>

</table>